.store-rent .store:nth-child(1) h1 {
	width: 68%;
}

.single .contain .date {
	text-transform: capitalize;
}

.post-type-archive-eventos .caption h2 span {display: none;}
.heading.list {
    padding-bottom: 12em;
    text-align: left;
}

/* Exposicion */

    img.exposition-logo {
        margin-bottom: 1em;
    }
    .single-eventos .heading p span {
      display: none;
    }

    @media (max-width: 800px) {
        .rooms article .video > div .no-description .video-container {
            width: 88%;
        }
        .video .no-description.ul .mejs-controls {
            width: 100%;
        }
        .rooms article .video > div li.slide.no-description.yt .video-container {
        	bottom: 0;
        }
    }

    @media (min-width: 1100px) {
    	.no-description.ul .caption {
    	    width: 15% !important;
    	}

    	.video .no-description.ul .mejs-controls {
    	    width: 85%;
    	}
    	.video .mejs-controls div.mejs-time-rail {
    	    width: 77% !important;
    	}
    }

    @media (min-width: 1600px) {
    	.video .mejs-controls div.mejs-time-rail {
    	    width: 80% !important;
    	}
        header nav li {
            font-size: 1em;
            padding-left:1.5em;
        }
    }








input[type="text"] {
  font-size: 1.25em;
  width: 11.25em;
}





/*.ui-accordion .ui-accordion-content {
    padding-bottom: 0px;
}*/









#events-post .masonry.permanents > li { width: 33.3333%; }
#events-post h2 {
	font-family: 'futura-pt';
	padding: 0 .25em 1.6em;
	font-size: 1.75em;
	color: #52318e; /* purple */
}
.page-id-345 #events-post:nth-child(2n+1){
	padding-top: 0;
}

.cards .tag.ciclo-type {
    background: #2AAED0;
}

.cards .tag.ciclo-type > img {
    display: inline-block;
    min-height: initial;
    width: 25px;
    margin-bottom: .15em;
    vertical-align: middle;
}



p.iso {
	width: 8em;
	text-align: left;
	display: inline-block;
	bottom: 1em;
	position: relative;
}







ul.dropdown li:hover > ul li > ul li a {
    padding-left: 3em;
}

ul.dropdown li > ul.sub {
    display: block;
}





div.wpcf7-response-output {
    top: -3.4em;
    position: relative;
    padding: .5em 1em .75em !important;
}
div.wpcf7-mail-sent-ok {background-color: #398f14;}
div.wpcf7-mail-sent-ng {background-color: #ff0000;}
div.wpcf7-spam-blocked {background-color: #ffa500;}
div.wpcf7-validation-errors {background-color: #f7e700;}

.page .contain input{display: inline-block;}
.page .contain .acceptance {
    display: inline-block;
    width: inherit;
}
    label.acceptance {margin-left: .5em;}
    .acceptance a {color: #666666;}








@media (min-width: 600px) {
	.single-eventos .contain .details p.contact-info {
		font-size: .75em !important;
		line-height: 1.5em;
	}
}




/*  Exposición  */
	.slide.vertical .image {
		background-size: contain !important;
		background-repeat: no-repeat !important;
		background-color: #262626 !important;
	}
	ul.rooms section.head wrap > div:nth-child(2) h2 {
		width: 100%;
		white-space: nowrap;
		overflow: hidden !important;
		text-overflow: ellipsis;
	}
	.guide {
		text-align: center;
		padding: 4em 0;
		line-height: normal;
	}
	.guide a.button {
		display: inline-block;
		margin-top: 1em;
	}




/* Cafe */

	.cafe .slider .caption h2 {
	display: none;
	}

	@media (min-width: 600px) {
		.cafe .slider .caption {
			padding-top: 14em;
		}
		.cafe .slider .caption p {
			margin-top:0;
		}
	}

	@media (min-width: 1024px) {
		.cafe .slider .caption {
			padding-top: 18em;
		}
	}




	/* Restaurante */

	.cstm-contain {padding-top: 6em; padding-bottom: 6em; overflow: auto;}
	.half {width:48%; float:left;}
	.half:nth-child(2) {float:right; position:relative; z-index:1;}
	.half img {position: relative; z-index: 1; max-width:100%; height: auto;}
	img#pollito {position: absolute; left: -5em; top: 2em;}
	.cstm-contain h1, .cstm-contain h2 {color:#f7b900;}
	.cstm-contain h1 {font-size: 2em;}

	.cafe article .menu ul.tabs li.current a {color: #c63513}

	.page .contain input[disabled="disabled"] {
		background: #B1B1B1;
		cursor: default;
	}



/* Page: Rich Content */
	.page .guide {
		border-top: 2px solid #eFeFeF;
	}
	.content wrap {
		max-width: 100%;
	}
	/*article .menu ul.tabs li {
		display: inline !important;
	}*/
	@media screen and ( max-width: 782px ) {
		.page .contain .half {width:100%;}
	}

	@media (max-width: 600px) {
		.page .contain .back {
			width:100%;
		}
		.page .contain .content {
			width: 100%;
		}
	}
	.alignleft {
	    float: left;
	    margin-right: 2em;
	}

	.wp-caption {
	    font-size: .75em;
	    text-align: center;
	    margin-bottom: 2em;
	}
	.wp-caption img {
	    margin-bottom: 2em !important;
	}

	small {
	    font-size: .75em;
	}


/* Header */

	header .search-box input[type="text"] {
		background: none;
	}

	.search_box select option {
		color: #333;
		background: #FFF;
		border: none;
	}



/* 404 */
	body.error404 {
		background-color: #EEE;
	}
	.error404 .heading {
		text-align: center;
		padding: 8em 0 14em;
	}
	.error404 h1 {
		font-size: 5em;
		margin-top: .5em;
	}




/* Recursos */

	.tres_museos dl img {
		width: 100%;
		height: auto;
		margin-bottom: 1em;
	}
	.tres_museos dl dt {
		min-height: initial;
		margin-bottom: .25em;
	}



/* Planea - Maps */




/* Video */
	.video {
		position: relative;
	}
	.has-caption iframe {
		width: 70%;
	}
	.has-caption .caption {
		width: 28%;
		float: right;
		color: #FFF;
		font-size: .75em;
	}
	@media (max-width: 600px) {
		.has-caption iframe {
			width: 100%;
		}
		.has-caption .caption {
			width: 100%;
			font-size: 1em;
			margin-top: 1em;
		}
	}





	.not_nos .contain h1 {
		font-family: 'futura-pt', helvetica, arial, sans-serif;
		color: #52318e;
		font-size: 2.75em;
		margin: 1em 0 .5em;
	}
	.contain img.aligncenter {
		display: inherit;
		margin: 0 auto;
	}
