

.post-type-archive-eventos .caption h2 span {display: none;}
.heading.list {
    padding-bottom: 12em;
    text-align: left;
}

/* Exposicion */

    img.exposition-logo {
        margin-bottom: 1em;
    }
    .single-eventos .heading p span {
      display: none;
    }

    @media (max-width: 800px) {
        .rooms article .video > div .no-description .video-container {
            width: 88%;
        }
        .video .no-description.ul .mejs-controls {
            width: 100%;
        }
        .rooms article .video > div li.slide.no-description.yt .video-container {
        	bottom: 0;
        }
    }

    @media (min-width: 1100px) {
    	.no-description.ul .caption {
    	    width: 15% !important;
    	}

    	.video .no-description.ul .mejs-controls {
    	    width: 85%;
    	}
    	.video .mejs-controls div.mejs-time-rail {
    	    width: 77% !important;
    	}
    }

    @media (min-width: 1600px) {
    	.video .mejs-controls div.mejs-time-rail {
    	    width: 80% !important;
    	}
        header nav li {
            font-size: 1em;
            padding-left:1.5em;
        }
    }








input[type="text"] {
  font-size: 1.25em;
  width: 11.25em;
}





/*.ui-accordion .ui-accordion-content {
    padding-bottom: 0px;
}*/









#events-post .masonry.permanents > li { width: 33.3333%; }
#events-post h2 {
	font-family: FU_B;
	padding: 0 .25em 1.6em;
	font-size: 1.75em;
	color: #52318e; /* purple */
}
.page-id-345 #events-post:nth-child(2n+1){
	padding-top: 0;
}





p.iso {
	width: 8em;
	text-align: left;
	display: inline-block;
	bottom: 1em;
	position: relative;
}







ul.dropdown li:hover > ul li > ul li a {
    padding-left: 3em;
}

ul.dropdown li > ul.sub {
    display: block;
}





div.wpcf7-response-output {
    top: -3.4em;
    position: relative;
    padding: .5em 1em .75em !important;
}
div.wpcf7-mail-sent-ok {background-color: #398f14;}
div.wpcf7-mail-sent-ng {background-color: #ff0000;}
div.wpcf7-spam-blocked {background-color: #ffa500;}
div.wpcf7-validation-errors {background-color: #f7e700;}

.page .contain input{display: inline-block;}
.page .contain .acceptance {
    display: inline-block;
    width: inherit;
}
    label.acceptance {margin-left: .5em;}
    .acceptance a {color: #666666;}











@media (min-width: 600px) {
	.single-eventos .contain .details p.contact-info {
		font-size: .75em !important;
		line-height: 1.5em;
	}
}




/*  Exposición  */
	.slide.vertical .image {
		background-size: contain !important;
		background-repeat: no-repeat !important;
		background-color: #262626 !important;
	}
	ul.rooms section.head wrap > div:nth-child(2) h2 {
		width: 100%;
		white-space: nowrap;
		overflow: hidden !important;
		text-overflow: ellipsis;
	}
	.guide {
		text-align: center;
		padding: 4em 0;
		line-height: normal;
	}
	.guide a.button {
		display: inline-block;
		margin-top: 1em;
	}




/* Cafe */

	.cafe .slider .caption h2 {
	display: none;
	}

	@media (min-width: 600px) {
		.cafe .slider .caption {
			padding-top: 14em;
		}
		.cafe .slider .caption p {
			margin-top:0;
		}
	}

	@media (min-width: 1024px) {
		.cafe .slider .caption {
			padding-top: 18em;
		}
	}







/* Page: Rich Content */
	.page .guide {
		border-top: 2px solid#eFeFeF;
	}




/* Header: Live Prev */







/* 404 */
	body.error404 {
		background-color: #EEE;
	}
	.error404 .heading {
		text-align: center;
		padding: 8em 0 14em;
	}
	.error404 h1 {
		font-size: 5em;
		margin-top: .5em;
	}



/* Planea - Maps */
