/*  Imports  */

// @font-face
// 	font-family: FU_B
// 	src: url('../fonts/FuturaStd-Bold.otf')
// @font-face
// 	font-family: FU_CB
// 	src: url('../fonts/FuturaStd-CondensedBold.otf')
// @font-face
// 	font-family: FU
// 	src: url('../fonts/FuturaStd-Book.otf')
// @font-face
// 	font-family: META
// 	src: url('../fonts/Meta_Serif_Book.otf')
// @font-face
// 	font-family: META_IT
// 	src: url('../fonts/Meta_Serif_Book_Italic.otf')


body
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	background-color: $white
	line-height: normal
	font-family: META, Georgia, serif



/*  Style  */

.FU_B
	font-family: 'futura-pt', helvetica, arial, sans-serif
	font-weight: 700
.FU_CB
	font-family: 'futura-pt-condensed', helvetica, arial, sans-serif
	font-weight: 700
.FU
	font-family: 'futura-pt', helvetica, arial, sans-serif
.meta
	font-family: 'ff-meta-serif-web-pro', Georgia, serif
em
	font-family: 'ff-meta-serif-web-pro', Georgia, serif
	font-style: italic

$FU_B: 'futura-pt', helvetica, arial, sans-serif
$FU_CB: 'futura-pt-condensed', helvetica, arial, sans-serif
$FU: 'futura-pt', helvetica, arial, sans-serif
$meta: 'ff-meta-serif-web-pro', Georgia, serif


/*  Size  */

.meta12
	font-size: .8em
.t12
	font-size: .75em
.t16
	font-size: 1em
	line-height: 1.5em
.t20
	font-size: 1.25em
	line-height: 1.5em
.t26
	font-size: 1.625em
.t32
	font-size: 2em
	line-height: 1.25em
.t44
	font-size: 2.75em


$meta12: .8em
$t12: .75em
$t14: .875em
$t16: 1em
$t20: 1.25em
$t26: 1.625em
$t28: 1.75em
$t32: 2em
$t44: 2.75em
